.body-content {
    padding-top: 25px;
    box-shadow: 2px 2px 5px #7F7F7F;
}

.grad {
    width: 100%;
    background: linear-gradient(0deg, #7F7F7F, #F8F8F8);
}
.rev-grad {
    background: linear-gradient(180deg, #7F7F7F, #F8F8F8);
}
/* Images */
.logo {
    border-width: 0;
    border-style: solid;
    width: 165px;
    height: 120px;
}
.img-left {
    float: left;
    position:relative;
    padding-right: 10px;
}

/* Header */
.header-Foreground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
    padding: 0;
}

.header-tel {
    position: absolute;
    top: 79px;
    width: 100%;
    height: 75px;
    padding-right: 200px;
    text-align: right;
    background-color: #E5E5E5;
    z-index: 500;
}

.tel {
    color: #779324;
    font-family: times new roman,times,serif;
    font-size: 23px;
}

.icast {
    position: absolute;
    top: 5px;
    width: 80%;
    left: 200px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.icast a{
    text-decoration: none;
    color: #0079c2;
    font-size: 8px;
    font-family: arial,helvetica,sans-serif;
}

.subHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color:blue;
    width: 100%;
}

#HomeCarousel img {
    width: 100%;
}
.carousel-caption {
    background-color: #000000;
    position: absolute;
    bottom: 20px;
    left: -1px;
    right: 0;
    z-index:10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.detail-box {
    margin-top: 25px;
    margin-left: 10px;
    left: 10%;
    box-shadow: 2px 5px 5px #808080;
    box-shadow: -2px 5px 5pc #808080;
    min-height: 300px;
    width: 300px;
}

/* Main tags */
footer {
    padding-bottom: 100px;
}

p {
    vertical-align: top;
    text-align:justify;
}

.img-right {
    float: right;
    padding: 5px;
}

.case-img {
    width: 200px;
    height: 150px;
}