
@{
    ViewBag.Title = "Partners";
}

<h2>ResourceSmart Partners</h2>
<hr />
<div class="col-md-3 form-group">
    <form id="contactUs">
        <h3>Contact Us:</h3>
        <hr />
        <input class="form-control" type="text" placeholder="Enter name" />
        <input class="form-control" type="tel" placeholder="Enter phone" />
        <input class="form-control" type="email" placeholder="Enter email" />
        <input class="form-control" type="text" placeholder="Enter address" />
        <input class="form-control" type="number" placeholder="Enter the # of units" />
        <input class="form-control" type="number" placeholder="Enter the age of property" />
        <textarea class="form-control" rows="7" placeholder="Message Details"></textarea>
        <input class="btn btn-info" type="submit" value="Submit" />
    </form>
</div>

<div class="col-md-9">
    <p>ResourceSmart advocates a communal approach to green rehab and to improving the availability of affordable housing in the US. We partner with organizations who share our commitment to making a difference. Our strategic partners include community development and advocacy groups, internationally renowned foundations, banks and innovative funding solutions, regional utilities, and federal, state and municipal governments.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.co.routt.co.us/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-17.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.macfound.org/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-02.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.sba.gov/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-03.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.smpa.com/" target="_blank"><img class="partner-img" src="~/content/images/partners/resource-smart-green-property-rehab-partners-resources-04.jpg" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="http://arvada.org/sustainability/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-05.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.tblfund.org/" target="_blank"><img class="partner-img" src="~/Content/images/partners/tbl foundation.png" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.usda.gov/wps/portal/usda/usdahome" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-07.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.xcelenergy.com/" target="_blank"><img class="partner-img" src="~/content/images/partners/resource-smart-green-property-rehab-partners-resources-08.jpg" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.steelestreet.com/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-09.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.regis.edu/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-10.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.gatesfamilyfoundation.org/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-11.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.denvergov.org/Default.aspx?alias=www.denvergov.org/strategicpartnerships" target="_blank"><img class="partner-img" src="~/content/images/partners/resource-smart-green-property-rehab-partners-resources-12.jpg" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.yvsc.org/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-12.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.telluridefoundation.org/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-14.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.housingnm.org/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-15.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://environmentalsolutionllc.com/services/sustainable-business" target="_blank"><img class="partner-img" src="~/content/images/partners/resource-smart-green-property-rehab-partners-resources-16.jpg" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.energystar.gov/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-19.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://portal.hud.gov/hudportal/HUD" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-01.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.eda.gov/" target="_blank"><img class="partner-img" src="~/Content/images/Partners/resource-smart-green-property-rehab-partners-resources-18.jpg" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.htcenergy.com/" target="_blank"><img class="partner-img" src="~/content/images/partners/HTC_-_Header.gif" style="width: 149px; height: 55px; vertical-align: middle" /></a>
            </div>
        </div>
    </div>
</div>
