@{
    ViewBag.Title = "We We Do";
}

<h2>What We Do at ResourceSmart - Services</h2>
<div class="col-md-8">
    <h3>Nonprofit Green General Contractor: Turn-Key Service</h3>
    <p>ResourceSmart offers an innovative way to approach green upgrades for you property. We make the process less complicated for owners by managing all aspects of the work. Our teams can stay with your project from beginning to end handling: property assessment, detailed reporting on rehab solutions, contactor bids, work schedules, management of onsite work, quality inspection and invoice and reporting. By examining the whole system of green rehab from start to finish we maximize savings through a unique combination of incentives, rebates and financing options, minimizing the costs of your project while widening its impacts.</p>
    <br />
    <p>
        <img class="img-left" src="~/Content/images/WhatWeDo/3-peeps.jpg" /><h3>Resource Efficiency: Save Energy – and Money</h3>
        Are high O&M costs bothering you? Are increasing energy and water costs making larger and larger dents into your operating budget? Our comprehensive energy efficiency and water conservation programs allow both property owners and tenants to enjoy cost savings and healthier environments. Our financing program combines utility rebates, incentives and low-interest loan funds to completely finance your improvements. The money you save on utility and O&M costs will exceed or match your loan payments, so these upgrades are at no cost to you! There has never been a better time to enhance the efficiency of your building while improving your bottom line.
    </p>
    <br />
    <p>
        <img class="img-left" src="~/Content/images/WhatWeDo/what-construction-guy.jpg" /><h3>Green Property Needs Assessment</h3>
        ResourceSmart can perform your GPNA in full compliance with HUD or any other requirements. We assess immediate critical repair needs, expected repairs, replacement as well as major needs to operate and maintain your building for years to come. This green assessment provides solutions for how your building can perform more efficiently in the future and ranks items relative to return on investment.
    </p>
    <p>
        <img class="img-left" src="~/Content/images/WhatWeDo/money-in-hand.jpg" /><h3>Remodeling, Renovating and More…</h3>
        ResourceSmart is your General Contractor Plus, managing all of your remodeling needs from installing a new roof and siding, to resurfacing your parking lot, to re-flooring and painting. We can help you remodel your facility cost-effectively, while also helping you make choices that are green. Whether it’s cool roofs or energy efficient windows, we can help you make the right choice for your property investment.
    </p>
</div>

