@{
    ViewBag.Title = "Who We Are";
}
<h2>Who is ResourceSmart? - <i>"People Making a Positive Impact"</i></h2>
<hr />
<h3>Who We Are</h3>
<p>ResourceSmart is an affordable green building upgrade program thats mission is to make an impact in underserved communities. There is a significant gap in the availability of affordable housing in the United States. ResourceSmart makes an impact to low income families, individuals, students and fixed income seniors by providing necessary and meaningful improvements to affordable housing. ResourceSmart maximizes its work in the community by improving social, economic and environmental conditions in all of its projects.</p>
<h3>Our Appoarch</h3>
<p>ResourceSmarts methods go beyond energy efficiency, we implement full green rehab, which effects multiple aspects of the property. The multifamily building retrofits we provide help the buildings conserve energy and water, having a positive effect on the environment. The properties become more profitable through the energy cost savings and higher property value, creating a positive economic effect. Residents benefit from better health, lowered utility bills, better safety and more comfort, providing a positive social effect.</p>
<h3>ResourceSmart: Managed by ICAST</h3>
<p>ResourceSmart is managed by <strong>ICAST (International Center for Appropriate and Sustainable Technology)</strong>, a 501(c)(3) nonprofit that has created triple-bottom-line benefits for neglected communities for over 12 years.
</p>
<p>ResourceSmart works out of <strong>Colorado</strong>, <strong>New Mexico</strong>, and <strong>Texas</strong>.</p>
<h3>IMPACT:</h3>
<strong>"The effect or influence of one person, thing, or action, on another; the force exerted by a new idea, concept, technology, or ideology.”</strong>
<p>In 2013 ResourceSmart preserved affordable housing for many lower income Coloradans:</p>
<ul>
    <li>Served <strong>1,155 individuals</strong> by lowering energy costs & creating safer, more comfortable living environments</li>
    <li>Will create <strong>240 jobs</strong> over the next 20 years from our customers’ initial project investments and continued energy savings</li>
    <li>Projects saved enough energy to equal the annual greenhouse gas emissions from <strong>7,899 passenger vehicles</strong></li>
</ul>
<strong>Did you know…</strong>
<p>In <strong>Colorado</strong>, 33% of all households are rentals. 24% of those are extremely low income. There is currently a shortage of 128,675 units that are affordable and available for very low income families. A renter needs to earn $17.26 per hour to afford a two bedroom apartment.
</p>
<p>In <strong>New Mexico</strong>, a renter needs to earn $14.42 to afford a two bedroom unit. Or, a renter needs 2 minimum wage full time workers just to pay the rent.
</p>
<p>In <strong>Texas</strong>, less than 7% of state housing expenditures benefit the families most in need; those with incomes at or near the poverty level.
</p>
<p>Source : <i>National Low Income Housing Coalition, Texas Low Income Housing Information Serivce.</i></p>
<h3>Advisory Board</h3>
<p>ResourceSmart’s Advisory Board brings a wealth of knowledge about sustainability and preserving affordable housing. <a href="#">Learn more about the Advisory Board »</a> </p>
<h3>The Team</h3>
<div class="carousel slide col-md-3" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-01.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-02.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-03.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-04.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-05.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-06.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-07.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-08.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-09.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-10.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-11.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-12.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/WhoWeAre/green-property-rehab-who-we-are-13.jpg" />
        </div>
    </div>
</div>
<p>
    ResourceSmart team members make us successful. Passionate staffers bring decades of experience in managing construction projects in a sustainable manner. We work harmoniously with one another, bringing an abundance of skill, proficiency and knowledge to your important project.
    <a href="#">Learn more about our team »</a>
</p>
