
@{
    ViewBag.Title = "Why_Work";
}

<h2>Why Work with ResourceSmart</h2>
<hr />
<div class="col-md-3 form-group">
    <form id="contactUs">
        <h3>Contact Us:</h3>
        <hr />
        <input class="form-control" type="text" placeholder="Enter name" />
        <input class="form-control" type="tel" placeholder="Enter phone" />
        <input class="form-control" type="email" placeholder="Enter email" />
        <input class="form-control" type="text" placeholder="Enter address" />
        <input class="form-control" type="number" placeholder="Enter the # of units" />
        <input class="form-control" type="number" placeholder="Enter the age of property" />
        <textarea class="form-control" rows="7" placeholder="Message Details"></textarea>
        <input class="btn btn-info" type="submit" value="Submit" />
    </form>
</div>
<div class="col-md-9">
    <strong>Expertise in Green Construction. Customer Centric. Thought Leaders.</strong>
    <br />
    <p>Not usually what you think of when you think of a construction rehab firm or a general contractor? Because ResourceSmart is a nonprofit, we have no motive to maximize our profit. We don’t own any products and are not tied to any service provider, so we never suggest products and services that are not appropriate to you. We take the time to get to know you, your business and your goals. We also provide detailed explanations of our analyses and processes so you can make informed decisions regarding what is best for you. We take customer service seriously and our clients will attest to it.</p>
    <br />
    <h3>How ResourceSmart Stands Apart</h3>
    <ul>
        <li><strong>Energy efficiency experts.</strong> We’ve done this for more than a decade.</li>
        <li><strong>Nonprofit.</strong> We’re transparent, high integrity and work to give back to society. We maximize your ROI, not ours.</li>
        <li><strong>Data and property needs assessment.</strong> We inspect your property in detail, provide a clear assessment of the property’s needs, and review it to make sure it fits your needs.</li>
        <li><strong>Portfolio analysis.</strong> We identify your buildings that are performing poorly and wasting money every month.</li>
        <li><strong>Triple bottom line.</strong> Every project gives back socially, economically and environmentally.</li>
        <li><strong>Strong relationships.</strong> We have developed numerous trustworthy relationships with sub-contractors over the years.</li>
        <li><strong>Financing.</strong> We help you get incentives, rebates and low-interest financing currently available.</li>
    </ul>
</div>
