
@{
    ViewBag.Title = "Case Studies";
}

<h2>ResourceSmart Case Studies</h2>
<hr />
<div class="col-md-3">
    <a href="@Url.Action("CaseStudies", "Who_We_Serve")" class="btn btn-success">Case Studies</a>
    <a href="@Url.Action("Testimonials", "Who_We_Serve")" class="btn btn-success">Testimonials</a>
    <div class="form-group">
        <form id="contactUs">
            <h3>Contact Us:</h3>
            <hr />
            <input class="form-control" type="text" placeholder="Enter name" />
            <input class="form-control" type="tel" placeholder="Enter phone" />
            <input class="form-control" type="email" placeholder="Enter email" />
            <input class="form-control" type="text" placeholder="Enter address" />
            <input class="form-control" type="number" placeholder="Enter the # of units" />
            <input class="form-control" type="number" placeholder="Enter the age of property" />
            <textarea class="form-control" rows="7" placeholder="Message Details"></textarea>
            <input class="btn btn-info" type="submit" value="Submit" />
        </form>
    </div>
</div>
<div class="col-md-9">
    <ol>
        <li>
            <img class="img-right case-img" src="~/Content/images/CaseStudies/green-property-rehab-renovation-dma.jpg" />
            <strong>DMA Plaza, Inc.</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <br />
            <p>In 2010, DMA Plaza management sought to address the rising cost of electricity at its facility. The 11-story building contains 126 units, of which 50 are reserved for assisted living. Objectives for the project were to reduce electricity consumption to hedge against rising costs and improve resident comfort.</p>
            <a href="~/Content/docs/DMA Plaza Case Study.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
        <li>
            <img class="img-right case-img" src="~/Content/images/CaseStudies/green-property-rehab-renovation-rha.jpg" />
            <strong>Rifle Housing Authority</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <br />
            <p>Faced with rising utility prices, Rifle Housing Authority (RHA) sought to upgrade its complex of 27 quadplex apartment buildings. This 30 year old facility consists of 106 units and 3 common areas in total. The objectives for the project were to reduce gas and electricity consumption to reduce utility bills, hedge against rising energy costs, and to deliver increased comfort to residents.</p>
            <a href="~/Content/docs/green-property-rehab-renovation-rha-study.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
        <li>
            <img class="img-right case-img" src="~/Content/images/CaseStudies/Overland Trail.png" />
            <strong>Overland Trail</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <p>This 48 unit low income multifamily housing complex faced wasteful energy utilities and unhealthy living conditions.   The green upgrades used energy savings to subsidize urgently needed maintenance work on this building. The crawlspace was uninsulated and with significant moisture issues that ultimately would have led to serious damage. This project highlights ResourceSmart's approach, combining environmental upgrades with economic prosperity and social benefits.</p>
            <a href="~/Content/docs/Overland Trail Case Study.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
        <li>
            <img class="img-right case-img" src="~/Content/images/CaseStudies/WATER.png"/>
            <strong>Reserve at Water Tower Village</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <p>This multifamily housing unit located in Arvada CO suffered from high utility costs due to inefficient measures on the property. ResourceSmart was able to secure outside funding from multiple sources which made the retrofit more affordable for the owners upfront. This combined with the energy savings provided by the project made the property more affordable for the owners and the residents.</p>
            <a href="~/Content/docs/Reserve at Water Tower Village RS Arvada new.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
        <li>
            <img class="img-right case-img"  src="~/Content/images/CaseStudies/ARVADA.png"/>
            <strong>Arvada Place</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <p>In 2014 a full green retrofit was completed on this 42 unit multi-family housing complex. A substantial portion of the costs were secured by ICAST through outside grants which allowed the energy efficiency upgrades to be affordable, and to save the affordable housing residents money in the long term.</p>
            <a href="~/Content/docs/Arvada Place Case Study RSARVADA.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
        <li>
            <img class="img-right case-img" src="~/Content/images/CaseStudies/Greee.png"/>
            <strong>Greenleaf Apartments</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <p>Greenleaf Apartments, a 55 unit multistory apartment complex in Aurora CO, provided a powerful example of how green rehab can do more than just improve the efficiency.  In their meetings with ICAST’s energy efficiency training team, residents have consistently reported enjoying higher quality of life at Greenleaf after the completion of the project. The low-income residents of the facility have thus benefitted in a manner that will help to perpetuate better life outcomes for residents through enhanced safety and a greater sense of community.</p>
            <a href="~/Content/docs/Greenleaf Case Study.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
        <li>
            <img class="img-right case-img" src="~/Content/images/CaseStudies/Viking Square.jpg"/>
            <strong>Viking Square</strong>
            <br />
            <br />
            <strong>Background and Objectives</strong>
            <p>Viking Square, a 55 unit, 3 building apartment complex in Arvada CO, showed clearly a high energy savings from the bringing in of new technology. This multifamily apartment complex was built in 1972 and the buildings heating system and cooling system were all still the original units when ResourceSmart made its initial assessment of the property. The combination of replacing the outdated equipment with energy efficient technology proved to drastically reduce the energy costs of the complex.</p>
            <a href="~/Content/docs/Viking Square Case Study.pdf" target="_blank">Click here to read the full study</a>
            <br />
            <br />
            <br />
        </li>
    </ol>
</div>

