@{
    ViewBag.Title = "City_Arvada_Program";
}

<h2>Programs for the City of Arvada</h2>
<hr />
<div class="col-md-3">
    <a href="@Url.Action("CaseStudies", "Who_We_Serve")" class="btn btn-success">Case Studies</a>
    <a href="@Url.Action("Testimonials", "Who_We_Serve")" class="btn btn-success">Testimonials</a>
</div>
<div class="col-md-9">
    <strong>ResourceSmart Arvada</strong>
    <img src="~/Content/images/WhoWeServe/sustain-arvada-green-property-rehab-renovation.png" style="float: right; margin: 5px" />
    <p>
        ICAST's ResourceSmart is partnering with the City of Arvada to provide turn-key energy efficiency (EE) improvement services to eligible residential and business facilities in the City. We will guide both home or business owners through the process of energy assessments, financing, selection and management of local sub-contractors, quality control, invoicing and reporting, to assure desired results.
    </p>
    <p>
        Arvada plans to award $100,000 in rebates to its qualifying citizens, and with the Xcel Energy utility rebates this should provide you a once-in-a-lifetime opportunity to reduce energy consumption and costs while making your home more comfortable and healthy. Our “market based” approach ensures that the investment made is recovered from the savings achieved through the EE improvements (that show up as utility bill savings). Financing is available to provide a “no cash up front” option, and low, pay-as-you save interest rates.
    </p>
    <p>
        ResourceSmart Arvada has officially launched! If you are a business, a resident, or even an affordable housing complex, you should apply today to reserve your spot in our program!
    </p>
    <p>
        <iframe allowfullscreen="" frameborder="0" height="315" src="//www.youtube.com/embed/jXQg4T94qXw" width="700"></iframe>
    </p>
    <p>
        <strong>Upgrading is easy as 1-2-3:</strong>
        <ol>
            <li>Sign up for your energy assessment</li>
            <li>Energy assessor conducts an energy assessment</li>
            <li>Receive report with costs, savings and payback details</li>
            <li>iCAST hires and oversees all subcontractors and quality of work</li>
            <li>Sit back and watch your savings increase year after year!</li>
        </ol>
        <a href="#">Contact us today to get started</a>
    </p>
</div>
