
@{
    ViewBag.Title = "Routt_County";
}

<h2>Programs for Routte County</h2>
<hr />
<div class="col-md-3">
    <a href="@Url.Action("CaseStudies", "Who_We_Serve")" class="btn btn-success">Case Studies</a>
    <a href="@Url.Action("Testimonials", "Who_We_Serve")" class="btn btn-success">Testimonials</a>
    <div class="form-group">
        <form id="contactUs">
            <h3>Contact Us:</h3>
            <hr />
            <input class="form-control" type="text" placeholder="Enter name" />
            <input class="form-control" type="tel" placeholder="Enter phone" />
            <input class="form-control" type="email" placeholder="Enter email" />
            <input class="form-control" type="text" placeholder="Enter address" />
            <input class="form-control" type="number" placeholder="Enter the # of units" />
            <input class="form-control" type="number" placeholder="Enter the age of property" />
            <textarea class="form-control" rows="7" placeholder="Message Details"></textarea>
            <input class="btn btn-info" type="submit" value="Submit" />
        </form>
    </div>
</div>
<div class="col-md-9">
    <h3>ResourceSmart and Energy FIT Routt County</h3>
    <br />
    <p>ICAST's ResourceSmart is partnering with Yampa Valley Sustainability Council and Steamboat Sustainable Business Consortium to provide turn-key energy efficiency (EE) improvement services to eligible residential and business facilities in Routt County. ResourceSmart is participating in the Energy FIT (Financing, Incentives, Training) initiative to encourage sustainability in Routt County. We will guide both home or business owners through the process of energy assessments, financing, selection and management of local sub-contractors, quality control, invoicing and reporting, to assure desired results.</p>
    <br />
    <p>There are many unique incentives and rebates through utilites and local organizations! The Steamboat Sustainable Business Consortium is providing bonus incentives for current members who contact ResourceSmart. Our market based approach ensures that the investment made is recovered from the savings achieved through the EE improvements (that show up as utility bill savings). Financing is available to provide a “no cash up front” option, and low, pay-as-you save interest rates.</p>
    <br />
    <p>Eager to learn more? ICAST's Barret Ramey presented details at the Northwest Colorado Regional Energy Roundtable - <a href="http://www.yvsc.org/nwcoenergy-followup/"> a copy is available here</a>.</p>
    <br />
    <strong>Upgrading is easy as 1-2-3:</strong>
    <br />
    <ol>
        <li>Sign up for your energy assessment</li>
        <li>Energy assessor conducts an energy assessment</li>
        <li>Receive report with costs, savings and payback details</li>
        <li>iCAST hires and oversees all subcontractors and quality of work</li>
        <li>Sit back and watch your savings increase year after year!</li>
    </ol>
    <br />
    <a href="#" data-toggle="modal" data-target="#contactModal"><strong>Contact us today to get started</strong></a>
</div>

