@{
    ViewBag.Title = "Testimonials";
}

<h2>ResourceSmart Testimonials</h2>
<hr />
<div class="col-md-3">
    <a href="@Url.Action("CaseStudies", "Who_We_Serve")" class="btn btn-success">Case Studies</a>
    <a href="@Url.Action("Testimonials", "Who_We_Serve")" class="btn btn-success">Testimonials</a>
</div>
<div class="col-md-9">
    <h3><i>Sunnyside Retirement Center</i></h3>
    <br />
    <br />
    <p>
        In 2010 Sunnyside Retirement Center underwent an energy audit.  We were awarded grants that began Phase 1 of a two part upgrade to our facility.  We now know how fortunate we were to be offered energy upgrades financed by grants and organized by ICAST.
    </p>
    <p>
        We have seen savings with electrical bills due to new efficiency lighting, however, the gas heat bills are what continue to amaze us.
    </p>
    <p>
        Below is a four year comparison in year end totals for gas heat bills:
    </p>
    <table class="table table-bordered">
        <tr>
            <td>Before Upgrades</td>
            <td>2009</td>
            <td>$16,121.41</td>
        </tr>
        <tr>
            <td>Upgrades Started</td>
            <td>2010</td>
            <td>$15,996.05</td>
        </tr>
        <tr>
            <td>During Upgrades</td>
            <td>2011</td>
            <td>$10,498.30</td>
        </tr>
        <tr>
            <td>Upgrades Complete</td>
            <td>2012</td>
            <td>$10,689.17</td>
        </tr>
    </table>
    <p>
        We are enjoying an amazing savings of over $5,000 in our yearly bills.  We understand that savings can fluctuate due to the outside temperatures during a winter season but the last two yearly totals are showing consistency.
    </p>
    <p>
        We are very happy with the new boilers and water heaters.  We feel blessed to have been awarded these grants with the help of  ICAST.
    </p>
    <p>

        <i>
            <strong>Margie Trebesh</strong>
            <br />
            Finance Manager<br />
            Sunnyside Retirement Center
        </i>
    </p>
    <hr />
    <p>
        “ICAST is synonymous with professionalism in every sense of the word.  From the energy audit that was conducted, they are presenting us with several options which will enable us to upgrade our facility and make better use of our funds which is a win-win for us.”
        <br />
        <br />
        <i><strong>Frank Proffer</strong>, Senior Pastor, First Baptist Church, Pueblo, CO</i>
    </p>
    <hr />
    <p>
        “Once the retrofit was completed, we started saving money on energy costs, which means more money can be spent towards our organization’s mission.”
        <br />
        <br />
        <i><strong>Paul Major</strong>, President and CEO of Telluride Foundation</i>
    </p>
    <hr />
    <p>
        “From beginning to end ICAST handled all aspects of our energy upgrade. Most impressive is the promise they made (and kept) to us that our usage would decrease—it did! We would not only use ICAST again but recommend them to others.”
        <br />
        <br />
        <i><strong>Natalie Bowman</strong>, Executive Director, Rifle Housing Authority</i>
    </p>
    <hr />
    <p>
        “We deal with numerous owners and various opinions at Bear Creek but the energy assessment team at ICAST has been great about providing information to the homeowners and HOA board about the return of investment and other benefits to energy efficiency.”
        <br />
        <br />
        <i><strong>Keiffer Parrino</strong>, General Manager, Bear Creek Lodge of Telluride</i>
    </P>
    <hr />
    <p>
        “Although it was difficult to work around the children when school was in session, the auditors and technicians were very respectful and did a great job!”
        <br />
        <br />
        <i><strong>Greta Shackelford</strong>, Little Red Schoolhouse</i>
    </p>
    <hr />
    <p>
        “One of our employees who is very sensitive within hours said, ‘Oh, this is so much more comfortable! Why haven’t we done this years before?’”
        <br />
        <br />
        <i><strong>Todd rown</strong>, Operations Manager, ASAP Accounting & Payroll Services</i>
    </p>
    <hr />
    <p>
        “The United Methodist Church in Ordway utilized the services provided by ICAST to perform energy efficiency upgrades at our church.  The results of the upgrades have greatly increased the comfort for everyone and the energy savings of approximately $200 per month have allowed us to easily make our loan payments.
        ICAST performed the work very quickly and efficiently and we were very pleased.
        <br />
        <br />
        <i><strong>DeEtta Goettel</strong>, Minister, United Methodist Church, Ordway, CO</i>
    </p>
</div>
